<div class="row mx-1 bg-white shadow-sm justify-content-center align-items-center">
    <div class="col-md-4">
        <div class="text-center my-4">
            <h2>Contact Us</h2>
        </div>
        <h4 class="py-2">If you have any questions, please do not hesitate to contact me.</h4>
        <div class="my-4">
            <email address="byron11robinson@gmail.com" content="Email Me"></email>
        </div>
    </div>
</div>
