@model IEnumerable<Category>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle hoverColor" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        DRINKS
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (Category category in Model)
        {
            <li><a class="dropdown-item" asp-controller="Drink" asp-action="Index" asp-route-category="@category.CategoryName">@category.CategoryName</a></li>
        }
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" asp-controller="Drink" asp-action="Index">View All Drinks</a></li>
    </ul>
</li>
