<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm rounded-3">
        <div class="modal-content">
            <div class="modal-header text-center">
                <i class="fas fa-user-lock fa-3x"></i>
                <h5 class="modal-title mt-3" id="staticBackdropLabel">SESSION TIMEOUT</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-group col-sm-12 text-center">
                            <label id="sessionModalMessage" class="control-label">To keep you safe, your session will timeout in</label>
                            <label class="control-label timeout"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnsess_continue" type="button" class="btn btn-success px-3" data-bs-dismiss="modal">Continue</button>
                <button id="btnsess_logout" type="button" class="btn btn-outline-success-custom px-4" data-bs-dismiss="modal">Logout</button>
            </div>
        </div>
    </div>
</div>
