@{
    ViewData["Title"] = "Checkout Complete";
}

<div class="row mx-1 bg-white shadow-sm justify-content-center align-items-center">
    <div class="col-md-4">
        <div class="text-center my-4">
            <h2>ORDER COMPLETED</h2>
            <h4 class="py-2">@ViewBag.Nico @ViewData["Interview"] @TempData["Question"]</h4>
            <img src="~/images/smile.jpg" class="img-fluid rounded mx-auto d-block" alt="...">
        </div>
    </div>
</div>
